*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(234,232,255);
  background: linear-gradient(180deg, rgba(234,232,255,1) 0%, rgba(216,213,219,1) 50%, rgba(173,172,181,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  color: #2D3142;
}

div{
  margin: 10px;
  width: 100%;
  border: 5px solid blue;
  display: flex;
  justify-content: center;
}

form {
  text-align: center;
}

img{
  width: 30%;
}

.header{
  font-family: font-family: 'Cabin Sketch', cursive;
}
